<html>
<head>
  <title th:text = "${league.name}"></title>
  <style>
    table {
      border-collapse: collapse;
    }
    td {
      width: 120px;
      padding: 5px;
      padding-left: 10px;
      border: 1px solid black;
      text-align: justify;
    }
  </style>
</head> 
<body>
  <br/>
  <h4 th:text = "${league.name}"></h4>
  <table border = "1">
    <tr>
      <th>Team</th>
      <th>Stadium</th>
      <th>Est.</th>
    </tr>

    <tr th:each = "team: ${league.getTeams}">
      <td th:text = "*{team.name}"></td>
      <td th:text = "*{team.stadium}"></td>
      <td>2025</td>
    </tr>
  </table>
</body>
</html>